<span [routerLink]="['books/user']">Dashboard</span>
<span [routerLink]="['books/user/details', 'PRASAD']">User Details</span>
<span [routerLink]="['books/user/orders']">User Orders</span>
<span [routerLink]="['books']">Books</span>
<span [routerLink]="['books/details']">Books Details</span>
<span [routerLink]="['books/author']">Books Author</span>
<br/><br/><br/><br/>
<span [routerLink]="['lib']">Library Dashboard</span>
<span [routerLink]="['lib/details']">Library Details</span> 
<span [routerLink]="['lib/department']">Department Dashbaord</span>
<span [routerLink]="['lib/department/details']">Department Details</span>
<span [routerLink]="['lib/department/location']">Location Dashbaord</span>
<span [routerLink]="['lib/department/location/details']">Location Details</span>
